* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.zip binary

/.gitignore export-ignore
/.gitattributes export-ignore
/.github export-ignore
/specs export-ignore
/test-results export-ignore
/batoi-rad-*.zip export-ignore
/batoi-rad-*.zip.sha256 export-ignore
